# Bytecode
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/

# macOS
.DS_Store

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# Distribution
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/